<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
    <div class="col-md-3">
  <h2>User info</h2>

別のユーザー

      <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
          </tr>
          <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>
      </tbody>
      </table>
      <h2>New book</h2>
      <%= form_with model: @book, url: '/books', method: :post do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %></dr>
        <%= link_to 'Create Book', Book.new, class: "btn btn-success" %>
      <% end %>
    </div>
    </div>
  </div>