<h1>Book detail</h1>

<table>
  <tr>
    <td><%= link_to book_path(@book.id) do %>
        <%= image_tag @book.user.get_profile_image %>
        <%= current_user.name %><% end %>
    </td>
    <tb><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to 'Edit', new_user_registration_path, class: "btn btn-success" %></td>
    <td><%= link_to 'Destroy', new_user_registration_path, class: "btn btn-danger" %></td>
  </tr>

</table>





